.project-page {
  display: flex;
  height: 100vh;
}

.content {
  flex-grow: 1;
  background-color: #f0f0f0;
  padding: 20px;
}

header h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.project-form {
  margin-bottom: 30px;
}

.new-project-btn {
  background-color: #A92A5B;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.form-fields input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(33% - 10px);
}

.search-btn {
  background-color: #A92A5B;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.project-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.project-table table,
.project-table th,
.project-table td {
  border: 1px solid #ddd;
  text-align: left;
}

.project-table th,
.project-table td {
  padding: 10px;
}

.project-table tr {
  transition: 0.2s all ease-in-out;
}

.project-table tr:hover {
  background-color: #ccc;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.graphs {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.graph-bar,
.graph-pie,
.graph-line {
  width: 30%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}



.top-icons {
  display: flex;
  gap: 15px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.top-icons i {
  font-size: 24px;
  color: #6A0DAD;
  cursor: pointer;
}