.project-page {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: linear-gradient(180deg, #5E0D50, #B83F8C);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed; /* Fijo en la pantalla */
  height: 100%; /* Ocupa toda la altura */
}

.logo {
  font-size: 24px;
  margin-bottom: 30px;
}

.logo i {
  margin-right: 10px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.sidebar nav ul li {
  margin: 15px 0;
  font-size: 18px;
  text-align: left;
  padding-left: 20px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.sidebar nav ul li a:hover {
  background-color: #A92A5B;
  transition: background-color 0.3s ease;
  border-radius: 5px; /* Borde redondeado para hover */
}

.sidebar nav ul li i {
  margin-right: 10px;
}

.content {
  margin-left: 250px; /* Ajuste de contenido para que no quede debajo de la barra lateral */
  flex-grow: 1;
  background-color: #f0f0f0;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.top-icons i {
  font-size: 24px;
  margin-left: 15px;
  color: #6A0DAD;
}

.project-form {
  margin-bottom: 30px;
}

.new-project-btn {
  background-color: #A92A5B;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.form-fields input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(33% - 10px);
}

.search-btn {
  background-color: #A92A5B;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.project-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.project-table table, .project-table th, .project-table td {
  border: 1px solid #ddd;
  text-align: left;
}

.project-table th, .project-table td {
  padding: 10px;
}

.edit-btn, .delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.edit-btn i {
  color: #FFC107;
}

.delete-btn i {
  color: #DC3545;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.graphs {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.graph-bar, .graph-pie, .graph-line {
  width: 30%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
